<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Principal</title>

<link rel="stylesheet" th:href="@{resources/css/principal.css}" />
<div th:replace="librerias::librerias" th:remove="tag"></div>
</head>
<body>
 <!--<div class=""  th:fragment="empleado" >   --><div class=""  th:replace="principal :: menu"> </div>
 <header class="encabezado block" th:replace="principal :: headerPrin"> Header </header>
 
<div class="contenido" th:fragment="regPerPue">
	<div class="">
		<form th:action="@{/grabarPerPue}" method="post"
			th:object="${perfilPuesto}" id="formulario"
			class="form-row needs-validation" novalidate>
			<fieldset class="form-group border p-3">
				<legend class="col-form-label col-sm-2 pt-0">Encabezado</legend>
				<div class="form-row">
					<input th:field="*{clave_perfil}" type="hidden"
						class="form-control">
					<div class="col">
						<div class="form-row">
							<label for="validationCustom01" class="form-label">Puesto:</label>
							<div class="col">
								<input th:field="*{nombre}" type="text" class="form-control"
									id="validationCustom01" placeholder="Nombre del puesto..."
									required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]{2,30}">
							</div>
							<div class="invalid-feedback">Ingrese el puesto
								correctamente.</div>
						</div>
					</div>
					<div class="col">
						<div class="form-row">
							<label for="validationCustom02" class="form-label">Unidad
								Organica:</label>
							<div class="col">
								<select th:field="*{id_uo}" class="form-control"
									id="validationCustom02" required>
									<option value="0">Seleccione...</option>
									<option th:each="u: ${lstUnidadesOrganicas}"
										th:value="${u.id_uo}" th:text="${u.nom_uo}"></option>
								</select>
								<div class="invalid-feedback">Selecciones una unidad
									organica.</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class="form-row">
						<label for="validationCustom03" class="form-label">Responde
							a:</label>
						<div class="col">
							<!-- th:if="${u.id_uo}==${}" th:each="u: ${lstUnidadesOrganicas}"  
										 th:text="${u.nom_jefe_uniOrg}" -->
							<input type="text" readonly id="validationCustom03">
						</div>
						<div class="col">
							<div class="form-row">
								<label for="validationCustom04" class="form-label">Turno
									de trabajo:</label>
								<div class="col">
									<select th:field="*{turno}" class="form-control"
										id="validationCustom04" required>
										<option selected value="">Seleccione...</option>
										<option th:value="'Diurno'">DIURNO</option>
										<option th:value="'Noche'">NOCHE</option>
										<option th:value="'Mixto'">MIXTO</option>
									</select>
									<div class="invalid-feedback">Seleccione un turno.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<br>
			<div class="form-group">
				<label for="validationCustom05" class="form-label">Descripción
					del Puesto:</label>
				<div class="col">
					<textarea th:field="*{descrip_perfil}" class="form-control"
						rows="3" placeholder="Descripción..." id="validationCustom05"
						required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,]{5,200}"></textarea>
					<div class="invalid-feedback">Ingrese la descripción
						correctamente.</div>
				</div>
			</div>
			<br>
			<div class="form-row">
				<fieldset class="form-group border p-3">
					<legend class="col-form-label col-sm-2 pt-0">Estudios</legend>
					<div class="col">
						<div class="form-check form-check-inline">
							<input th:field="*{estudios}" class="form-check-input"
								type="radio" name="inlineRadioOptions" id="invalidCheck"
								th:value="'Secundaria'" required> <label
								class="form-check-label" for="invalidCheck">Educ. Media
								completa (secundaria)</label>
						</div>
						<div class="form-check form-check-inline">
							<input th:field="*{estudios}" class="form-check-input"
								type="radio" name="inlineRadioOptions" id="invalidCheck"
								th:value="'Técnico-Profesional'" required> <label
								class="form-check-label" for="invalidCheck">Educ.
								Técnico-Profesional (técnico medio o superior)</label>
						</div>
						<div class="form-check form-check-inline">
							<input th:field="*{estudios}" class="form-check-input"
								type="radio" name="inlineRadioOptions" id="invalidCheck"
								th:value="'Universitarios'" required> <label
								class="form-check-label" for="invalidCheck">Educ.
								Universitaria</label>
							<div class="invalid-feedback">Seleccione un nivel de
								estudio.</div>
						</div>
					</div>
				</fieldset>
			</div>
			<br>
			<fieldset class="form-group border p-3">
				<legend class="col-form-label col-sm-2 pt-0">Edad</legend>
				<div class="form-group">
					<div class="form-row">
						<div class="col">
							<label for="validationCustom06" class="form-label">Desde:</label>
							<div class="col">
								<input th:field="*{edad_desde}" type="text" class="form-control"
									id="validationCustom06" placeholder="Edad..." required
									pattern="[0-9]{1,2}">
								<div class="invalid-feedback">Ingrese la edad
									correctamente.</div>
							</div>
						</div>
						<div class="col">
							<label for="validationCustom07" class="form-label">Hasta:</label>
							<div class="col">
								<input th:field="*{edad_hasta}" type="text" class="form-control"
									id="validationCustom07" placeholder="Edad..." required
									pattern="[0-9]{1,2}">
								<div class="invalid-feedback">Ingrese la edad
									correctamente.</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="modal-footer">
				<a href="/cargarPerPue" class="btn btn-secondary">Nuevo</a>
				<button type="submit" class="btn btn-success">Grabar</button>
			</div>
		</form>
		<br>
		<div th:class="${clase}" role="alert" th:text="${mensaje}"></div>
	</div>
</div>
<script src="resources/js/mantValida.js"></script>
</body>
</html>