<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Memorandum CAS</title>
<link rel="stylesheet" th:href="@{resources/css/principal.css}" />
<div th:replace="librerias::librerias" th:remove="tag"></div>
</head>
<body>
	 <!--<div class=""  th:fragment="empleado" >   --><div class=""  th:replace="principal :: menu"> </div>
 	<header class="encabezado block" th:replace="principal :: headerPrin"> Header </header>
 	<div class="contenido" >
 		<div class="">
			<form th:action="@{/memo/reporte}" method="post"
				  th:object="${memorandum}" id="formulario"
				  class="form-row needs-validation" novalidate>
				<div class="form-floating mb-3">
					<input th:field="${memorandum.fecha}" type="date" class="form-control" placeholder="fecha">
					<label>Fecha</label>
				</div>
				<br>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" >Consulta</button>
				</div>
			</form>
 		</div>
 	</div>
</body>
</html>