<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Principal</title>
<link rel="stylesheet" th:href="@{resources/css/principal.css}" />
<div th:replace="librerias::librerias" th:remove="tag"></div>
</head>
<body>
	<!-- INSERTAR MENU LATERAL -->
	<div class="" th:replace="menulateral::menu"></div>
	<header class="encabezado block"> Header </header>
	<div class="contenido">
		<div th:replace="perfilesPuesto::perfilpuesto"></div>
	</div>
</body>
</html>